---
import * as styles from './IntroScreen.css'
import Container from '@components/layout/Container.astro'
import BackgroundContentContainer from '@components/layout/BackgroundContentContainer.astro'
import type { DefaultComponentProps } from '@models'
import VideoSampleCard from './partials/VideoSampleCard.astro'
import EventQuickLink from './partials/EventQuickLink.astro'
import Logo from '@components/BandLogo.astro'

interface Props extends DefaultComponentProps {}

const { id, classNames } = Astro.props
---

<BackgroundContentContainer
  id={id}
  class:list={[classNames]}
  isParallax={false}
>
  <video
    slot="background"
    class={styles.backgroundVideo}
    width="854"
    height="480"
    autoplay
    playsinline
    muted
    loop
  >
    <source src="/media/promo.mp4" type="video/mp4" />
    <source src="/media/promo.mov" type="video/mp4" />
    <source src="/media/promo.mkv" type="video/mp4" />
    <img
      src="/media/promo.jpg"
      alt="Your browser does not support video playback."
    />
  </video>
  <div class:list={[styles.fullscreen, styles.typography]}>
    <Logo classNames={styles.bandLogo} form="full" color="white" />
    <Container classNames={[styles.introContent]}>
      <VideoSampleCard videoUrl="https://youtu.be/CZODKM7GdSU" />
      <EventQuickLink />
    </Container>
  </div>
</BackgroundContentContainer>
