---
import Container from '@components/layout/Container.astro'
import * as styles from './EventScreen.css'
import Heading from '@components/typography/Heading.astro'
import type { DefaultComponentProps } from '@models'
import { getCollection } from 'astro:content'
import EventItem from './partials/EventItem.astro'
import ViewBox from '@components/layout/ViewBox.astro'

interface Props extends DefaultComponentProps {}

const { id, classNames } = Astro.props
const allEvents = await getCollection('events')
  .then((events) =>
    events
      // .filter((event) => event.data.date.valueOf() >= Date.now().valueOf())
      .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  )
---

<section id={id} class:list={[styles.eventScreen, classNames]}>
  <Container>
    <ViewBox>
      <Heading level="2">Unsere nächsten Auftritte</Heading>
      {allEvents.length === 0 && 
        <p>Bald verfügbar.</p>
      }
      <div class={styles.eventList}>
        {allEvents.map((event) => <EventItem event={event.data} />)}
      </div>
    </ViewBox>
  </Container>
</section>
