---
import * as styles from './EventQuickLink.css'
---

<div class={styles.container}>
  <p class={styles.intro}>Wann spielen wir wieder?</p>
  <a class={styles.link} href="#events">Zu den Terminen</a>
</div>
