---
import type { HTMLAttributes } from 'astro/types';
import * as styles from './HeaderLink.css'
import type { HeaderLinkColor } from './HeaderLink.css'

interface HeaderLinkProps {
	color?: HeaderLinkColor
}

type Props = HeaderLinkProps & HTMLAttributes<'a'>;

const { href, color = 'primaryOneDefault', class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[styles.headerLink({color}), className, { active: isActive }]} {...props}>
	<slot />
</a>
